<!DOCTYPE html>
<html>
  <head>
    <title>Bnet App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="favicon.ico">

  </head>

  <body>
    <div class="container">
      <br>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
